html {
  font-size: 15px;
}

body {
  background-color: #364958;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}
h1 {
  margin: 0;
}
.calculator-container {
  width: 70%;
  height: 50%;
  background-color: #b3c4d0;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.navbar {
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.container-input {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1.5rem 1rem 1.5rem 1rem;
  display: flex;
  justify-content: center;
}
.container-input input[type="text"] {
  background-color: transparent;
  border-radius: 6px;
  padding: 7px 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.container-input input[type="text"]:disabled {
  border: 1px dotted rgba(0, 0, 0, 0.2);
}
